/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
    /* color: #0064D3; */
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #0064D3;
    color: #0064D3;
    border-radius: 5px;
}

.form-button {
    height: 35px;
    border: 1px solid #0064D3;
    cursor: pointer;
    border-radius: 5px;
    color: #0064D3;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}